@import "/css/components/index-header/header.css";
@import "/css/components/index-main/main.css";
@import "/css/components/company/company-header.css";
@import "/css/components/company/main-company.css";
@import "/css/components/contact/main-contact.css";
@import "/css/components/catalogue/catalogue.css";
@import "/css/components/products/pvc.css";
@import "/css/components/products/fittings.css";
@import "/css/components/products/hdpe.css";
@import "/css/components/products/ppr.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import "/css/base/utils.css";
@import "/css/base/variables.css";
@import "/css/base/reset.min.css";

#root {
    margin: 0 auto;
    min-width: 375px;
    min-height: 100vh;
    width: 100%;
    font-family: var(--pt-sans);
}
