.contact-content {
    padding: 20px;
    min-height: 100vh;
    border-bottom: 7px solid var(--high-blue);
    display: flex;
    flex-direction: column;
}

.contact-content h1 {
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--high-grey);
}

.contact-content h2 {
    font-size: 18px;
    padding: 10px 0;
}

.contact-wrapper span {
    padding: 15px 0;
    font-size: 18px;
    color: var(--high-blue);
}

.contact-wrapper .emails-wrapper span::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    background-image: url(/resources/png/email.png);
}

.contact-wrapper {
    margin-top: 30px;
}

.contact-wrapper  h2 {
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--high-blue);
}

.contact-wrapper .emails-wrapper {
    display: flex;
    flex-direction: column;
}

.contact-wrapper .phone-numbers {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.phone-numbers span::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    background-image: url(/resources/png/phone-icon.png);
}

@media screen and (min-width:768px) {
    .contact-wrapper {
        display: flex;
        align-items: flex-start;
    }

    .contact-wrapper .phone-numbers  {
        padding: 0;
        position: relative;
        left: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .contact-content {
        border-bottom: 60px solid var(--high-blue);
    }
    .contact-content h1 {
        font-size: 26px;
    }
}