.pages-header {
    background-color: var(--dark-blue);
    background-image: url(/resources/jpg/ppr-article.jpg);
    background-position: 0 -40px;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    .pages-header {
        background-position: 0 -150px;
    }
}

@media screen and (min-width: 1280px) {
    .pages-header {
        background-position: 0 -300px;
        padding: 20px 20px 60px 20px;
    }
}

