.main-catalogue {
    padding: 20px;
    border-bottom: 7px solid var(--high-blue);
    display: grid;
}

.main-catalogue h1 {
    font-family: var(--sans-narrow);
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--high-grey);
}

.main-catalogue a {
    padding: 10px 0;
    color: var(--high-blue);
    font-weight: var(--bold);
    text-decoration: none;
}

.main-catalogue a:hover {
    color: var(--gold);
    transition: .4s;
}

@media screen and (min-width: 768px) {
    .main-catalogue h1 {
        font-size: 26px;
    }
}