.main-header {
    background-image: url(/resources/jpg/PPR-web.jpg);
    background-size: cover;
    padding: 20px 20px 40px 20px;
    transition: .4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 8px solid var(--high-blue);
    font-family: var(--sans-narrow);
}

.main-header>svg {
    width: 150px;
    height: 150px;
}

.menu {
    background: rgb(21, 38, 156);
    background: linear-gradient(0deg, rgba(21, 38, 156, 0.9) 10%, rgba(29, 35, 76, 0.9) 70%);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translate(-50%);
    text-align: center;
    width: 90%;
    padding: 60px 0;
    z-index: 1;
}

.menu li {
    line-height: 2.5;
}

.menu li a {
    font-size: 18px;
    font-weight: var(--bold);
    text-decoration: none;
    color: var(--white);
}

.hidden {
    display: none;
}

.menu-button {
    background: none;
    padding: 5px 10px;
}

@media screen and (min-width: 768px) {
    .main-header {
        padding: 0px 40px 200px 40px;
        border-bottom: 25px solid var(--high-blue);
    }

    .main-header svg {
        width: 200px;
        height: 200px;
    }
    

    .menu {
        background: none;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        position: relative;
        top: 0;
        width: 370px;
    }

    .menu li { 
        padding: 0 5px;
    }

    .menu li a {
        font-size: 20px;
        color: var(--high-blue);
    }

    .menu li a:hover {
        color: var(--dark-blue);
        transition: .4s;
    }

    .menu-button {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .main-header {
        padding: 0px 40px 300px 40px;
    }

    .menu li {
        padding: 0;
    }
    .menu li:not(:last-child)::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 20px;
        position: relative;
        left: 10px;
        top: 5px;
        background-color: var(--high-blue);
    }

    .menu li:not(:first-child) {
        margin-left: 20px;
    }
}