.main-content {
    padding: 20px;
    flex: 100%;
    border-bottom: 7px solid var(--high-blue);

}

.main-section {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
}

.main-section article {
    background-color: var(--grey);
    border-radius: 5px;
    flex-shrink: 0;
    width: 325px;
    min-height: 400px;
    position: relative;
}

.main-section article:not(:last-child) {
    margin-right: 15px;
}

.main-section article div {
    width: 100%;
    padding: 70px 0;
    border-radius: 5px;
    background-size: cover;
}

.main-section article:nth-child(1) div {
    background-image: url(/resources/jpg/ppr-article.jpg);
    background-repeat: no-repeat;
    background-position: 0 -40px;
}

.main-section article:nth-child(2) div {
    background-image: url(/resources/jpg/hdpe.jpg);
    background-position: 0 -50px;
}

.main-section article:nth-child(3) div {
    background-image: url(/resources/jpg/pvc-pipes.jpg);
    background-size: 345px;
    background-position: -20px;
}

.main-section article:nth-child(4) div {
    background-image: url(/resources/jpg/plumbing-fittings.jpg);
    background-position: 5px -20px;
}

.main-section article span {
    font-family: var(--sans-narrow);
    font-size: 22px;
    font-weight: var(--bold);
    text-decoration: none;
    color: var(--high-blue);
    margin-left: 10px;
}

.main-section article p {
    margin: 10px 0 30px 10px;
    text-align: justify;
    width: 90%;
}

.main-section article a {
    color: var(--high-blue);
    font-weight: var(--bold);
    font-size: 16px;
    text-decoration: none;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.main-section article a:hover {
    color: var(--high-grey);
    transition: .4s;
}

@media screen and (min-width: 1024px) {
    .main-content {
        border-bottom: 50px solid var(--high-blue);
    }
    .main-section {
        padding: 0;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .main-section article {
        width: 100%;
    }
}