:root {
    --high-blue: rgb(21,38,156);
    --dark-blue: rgb(31,35,62);
    --grey: rgb(222,222,220);
    --high-grey: rgb(121,134,142);
    --light-blue: #C7CDCD;
    --gold: #D7B748;
    --white: rgb(255,255,255);
    --black: #000000;

    /* Font */
    --pt-sans: 'PT Sans', sans-serif;
    --sans-narrow: 'PT Sans Narrow', sans-serif;

    /* Weight */
    --regular: 400;
    --bold: 700;
}